:root {
    --desktop-width: 1180px;
}

html, body {
    scroll-behavior: smooth;
    width: auto;
    height: 100%;
}

body {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    line-height: 1.1;
    background: white;

}

div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-row {
    width: 1180px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.flex-center {
    display: flex;
    justify-content: center !important;
}

@media screen and (max-width: 478.98px) {
    .flex-row {
        width: 100%;
    }

    :root {
        --desktop-width: 400px;
    }
}

/* Шапка сайта ----------------------
-------------------------------------*/
.main__header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 15px 0;
    background-color: transparent;
}

.header__wrapper-logo {
    display: flex;
    max-width: 180px;
    margin-bottom: 10px;
}

.header__wrapper-logo img {
    object-fit: cover;
}

.main__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__wrapper-menu ul {
    display: flex;
    margin: 0;
}

.header__wrapper-menu ul li {
    list-style: none;
    margin-right: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    transition: 0.4s ease-out;
}

.header__wrapper-menu ul li:hover {
    border-bottom: 2px solid #8fb2d5;
    transition: 0.4s ease-in;
}

.header__wrapper-menu ul li.active {
    border-bottom: 2px solid #8fb2d5;
}

.header__wrapper-menu ul li a {
    font-size: 1.15em;
    font-weight: 300;
}

.header__wrapper-actions {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.wrapper__actions-language a {
    font-size: 1.14em;
    font-weight: 300;
}

.wrapper__actions-language a.active {
    font-size: 1.7em;
    font-weight: 600;
    color: #8fb2d5;
}

.wrapper__actions-busket {
    display: flex;
}

.wrapper__actions-busket img {
    margin-right: 5px;
}

.wrapper__actions-busket span {
    font-size: 1.7em;
    border-radius: 5px;
    width: 30px;
    height: 26px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-active {
    background-color: #4d5868;
    animation: bg-add 0.8s;
}

.scroll-deactive {
    background-color: transparent;
    animation: bg-dell 0.8s;
}

.secondary__head-wrapper {
    background: #98b0d2;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 95px;
    z-index: 999;
}

.secondary__head-wrapper ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0;
}

.secondary__head-wrapper ul li {
    list-style: none;
}

.secondary__head-wrapper ul li a {
    color: #4d5868;
    font-size: 1.8em;
    font-weight: 400;
}

.secondary__head-wrapper__active a {
    text-decoration: underline;
    color: white !important;
}

.header__wrapper-menu__mobile {
    display: none;
    transform: scale(0);
}

.wrapper__actions-menu {
    display: none;
}

@media screen and (max-width: 478.98px) {
    .main__header-wrapper {
        justify-content: flex-start;
    }

    .header__wrapper-actions {
        width: 100%;
        margin-left: 30px;
    }

    .header__wrapper-menu {
        display: none;
    }

    .header__wrapper-logo img {
        width: 130px;
        height: auto;
    }

    .wrapper__actions-search {
        display: none;
    }

    .wrapper__actions-menu {
        display: flex;
    }

    .wrapper__actions-menu i {
        font-size: 30px;
        color: #98b0d2;
    }

    .menu__mobile-active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 10000;
        background: #4d5868;
        display: flex;
        flex-direction: column;
        transform: scale(1);
        animation: menu-mobile-open 0.4s;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .menu__mobile-close {
        font-weight: 600;
        font-size: 1.4em;
        text-align: center;
        margin-top: 15px;
    }

    .menu__mobile-active ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu__mobile-active ul li {
        font-size: 1.4em;
        margin-bottom: 10px;
        list-style: none;
        height: 40px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
        transition: 0.4s ease-out;
    }

    .menu__mobile-active ul li.active {
        border-bottom: 2px solid #8fb2d5;
    }

    @keyframes menu-mobile-open {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }
}

/* Хлебные крошки */
.breadcrumbs {
    margin: 27px 0;

}

.breadcrumbs ul {
    display: flex;
    padding: 0;
}

.breadcrumbs ul li {
    margin-right: 30px;
    position: relative;
    list-style: none;
}

.breadcrumbs ul li a {
    color: #4d5868;
    font-weight: 200;
    font-size: 1.48em;
}

.breadcrumbs ul li span {
    color: #4d5868;
    font-weight: 600;
    font-size: 1.48em;
}

.breadcrumbs ul li a::before {
    content: '';
    background-color: #4d5868;
    height: 10px;
    width: 1px;
    position: absolute;
    display: block;
    right: -15px;
    top: 4px;
    transform: rotate(-60deg);
}

.breadcrumbs ul li a::after {
    content: '';
    background-color: #4d5868;
    height: 10px;
    width: 1px;
    position: absolute;
    display: block;
    right: -15px;
    bottom: 4px;
    transform: rotate(60deg);
}

@media screen and (max-width: 478.98px) {
    .breadcrumbs ul li a {
        font-size: 0.96em;
    }

    .breadcrumbs ul li span {
        font-size: 0.96em;
    }

    .breadcrumbs ul li a::after {
        height: 6px;
        bottom: 3px;
    }

    .breadcrumbs ul li a::before {
        height: 6px;
        top: 3px;
    }
}

/* Простая верхная часть страниц ---------------
--------------------------------------- */
.simple__head {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 330px 0 428px 0;
    position: relative;
}

.simple__head-title h1 {
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

.simple__head-title h1 span {
    font-size: 2.9em;
    font-weight: 200;
    color: #4d5868;
}

.simple__head-title h1 strong {
    font-size: 3.6em;
    color: #4d5868;
    text-transform: uppercase;
}

.simple__head-title hr {
    max-width: 65%;
    height: 2px;
    background-color: #98b0d2;
    margin: 37px 0;
    border: 0;
}

.simple__head-desc {
    max-width: 65%;
    color: #4d5868;
    font-size: 1.48em;
    font-weight: 200;
}

.simple__head .arrow-down {
    position: absolute;
    z-index: 1;
    bottom: 85px;
    left: calc(50% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    cursor: pointer;
}

.simple__head .simple__head-btn {
    margin-top: 50px;
    height: 40px;
    background-color: #8fb1d5;
    max-width: 360px;
    border-radius: 20px;
}

.simple__head .simple__head-btn a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

/* Слайдер категорий, продуктов и тд */
.head__slider-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1180px !important;
}

.head__slider-wrapper .slick-prev,
.head__slider-wrapper .slick-next {
    position: absolute;
    background: transparent;
    border: 0;
    height: 80px;
    padding: 0 25px;
    z-index: 1;
    cursor: pointer;
    top: calc(50% - 40px);
}

.head__slider-wrapper .slick-prev {
    left: calc((100% - var(--desktop-width)) / 2 - 15px);
    transform: rotate(180deg);
}

.head__slider-wrapper .slick-next {
    right: calc((100% - var(--desktop-width)) / 2 - 15px);
}

.head__slider-item__title {
    margin-top: 225px;
    font-size: 2.9em;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    margin-bottom: 25px;
}

.head__slider-item__title span {
    margin-top: 15px;
    font-weight: bold;
}

.head__slider-wrapper .slick-dots {
    position: absolute;
    display: flex !important;
    bottom: 50px;
    justify-content: center;
    left: 0;
    right: 0;
}

.head__slider-wrapper .slick-dots li {
    list-style: none;
}

.head__slider-wrapper .slick-dots li button {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    margin: 0 12.5px;
    cursor: pointer;
    font-size: 0;
    position: relative;
}

.head__slider-wrapper .slick-dots li.slick-active button::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    z-index: 1;
    background: white;
    border-radius: 5px;
    top: 2px;
    left: 2px;
}

@media screen and (max-width: 478.98px) {
    .head__slider-item {
        height: 770px !important;
    }

    .head__slider-item__title {
        margin-top: 150px;
    }
}

/* Главная страница --------------------
----------------------------------------*/
.video {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.video .video__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow-down {
    position: absolute;
    z-index: 2;
    bottom: 145px;
    left: calc(50% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    cursor: pointer;
}

.arrow-down a {
    width: 20px;
    height: 100%;
}

.arrow-down a span {
    display: flex;
    height: 60px;
    width: 3px;
    background-color: white;
    position: relative;
}

.arrow-down a span::before {
    content: '';
    display: block;
    position: absolute;
    height: 15px;
    width: 3px;
    bottom: -3px;
    left: -4px;
    transform: rotate(-45deg);
    background-color: white;
}

.arrow-down a span::after {
    content: '';
    display: block;
    position: absolute;
    height: 15px;
    width: 3px;
    bottom: -3px;
    left: 4px;
    transform: rotate(45deg);
    background-color: white;
}

@media screen and (max-width: 478.98px) {
    .video {
        min-height: 200px;
        margin-top: 80px;
    }

    .video .video__item {
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    .video .arrow-down {
        display: none;
    }
}

/* Страница бренда --------------------
----------------------------------------*/
.brand__header {
    padding: 216px 0 202px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.brand__header-title h1 {
    font-size: 2.9em;
    font-weight: 200;
    margin: 0 0 25px 0;
}

.brand__header-title span {
    display: block;
    font-weight: 600;
    font-size: 1.25em;
}

.brand__header-line {
    background: #98b0d2;
    width: 100%;
    height: 2px;
    border: 0;
    margin: 34px 0;
}

.brand__header-desc p {
    font-size: 1.48em;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 30px;
}

.brand__header-desc p:last-child {
    margin: 0;
}


/* Трейнинг центр страница ---------------
------------------------------------------*/

.training__head {
    background-position: top;
    padding: 330px 0;
}

.training__head h1 span {
    color: white;
}

.training__head h1 strong {
    color: #8fb1d5;
}

.training__head .simple__head-desc {
    color: white;
}

/* Сервисные центры ----------------------
----------------------------------------*/
.services__head {
    background-position: top;
    padding: 420px 0;
}

.services__head h1 span {
    color: white;
}

.services__head h1 strong {
    color: #8fb1d5;
}

.services__head .simple__head-desc {
    color: white;
}

/* Страница контактов -------------------
----------------------------------------*/
.contact__head-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact__head {
    padding-top: 240px;
    padding-bottom: 124px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info__title {
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 40px;
}

.info__desc {
    margin-bottom: 45px;
}

.info__desc p {
    color: #98b0d2;
    font-size: 2.1em;
    font-weight: 600;
    margin-top: 20px;
    margin: 0 0 15px 0;
}

.info__desc a {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.info__desc span {
    display: block;
    font-weight: 100;
    font-size: 1.3em;
}

.contact__head-info {
    max-width: 450px;
}

.info__item p {
    color: #98b0d2;
    font-size: 1.45em;
    font-weight: 500;
    margin: 0;
    margin-bottom: 15px;
}

p.info__item-name {
    color: white;
    font-size: 2.3em;
    font-weight: 500;
}

.info__item-phone {
    display: inline-flex;
    margin-right: 5px;
    font-size: 1.5em;
    font-weight: 600;
}

.info__item-email {
    font-size: 1.5em;
    color: #98b0d2;
    text-decoration: underline;
    font-weight: 600;
}

.info__item {
    margin-bottom: 40px;
}

p.info__item-location {
    margin-top: 8px;
    font-weight: 1.2em;
    font-weight: 100;
    color: white;
}

.contact__head-form {
    width: calc(100% - 450px - 80px);
}

.contact__head-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact__head-form form input {
    width: 300px;
    height: 40px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #98b0d2;
    outline: none;
    color: white;
    margin-bottom: 115px;
}

.contact__head-form form input::placeholder {
    color: #98b0d2;
    font-family: 'Raleway', sans-serif;
}

.contact__head-form form select {
    width: 300px;
    height: 43px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #98b0d2;
    color: #98b0d2;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

.contact__head-form form textarea {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #98b0d2;
    color: white;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

.contact__head-form form textarea::placeholder {
    color: #98b0d2;
    font-family: 'Raleway', sans-serif;
}

.contact__head-form form button {
    width: 100%;
    height: 58px;
    background: #98b0d2;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5em;
    font-weight: 500;
    border: 0;
    margin-top: 95px;
}

/* Страница товара -----------------------
----------------------------------------*/
#product {
    margin-top: 144px;
}

#product .head__slider-item {
    height: 667px !important;
}


/* Страница новостей ------------------ 
-----------------------------------------*/
.news {
    margin-top: 90px;
}

.news__title {
    font-size: 2.3em;
    color: #98b0d2;
    margin-bottom: 25px;
    text-transform: uppercase;
    max-width: 60%;
}

.news__first-half__desct {
    color: #4d5868;
    font-size: 1.45em;
    margin-bottom: 40px;
    font-weight: 100;
}

.news__banner {
    min-height: 554px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex;
    align-items: center;
}

.news__banner-title {
    font-size: 3em;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.news__banner-desc {
    font-size: 1.45em;
    color: white;
    text-align: center;
    margin: 0 auto 25px auto;
    max-width: 60%;
}

.news__banner-button {
    display: flex;
    justify-content: center;
}

.news__banner-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 46px;
    border: 1px solid white;
    border-radius: 10px;
}

@media screen and (max-width: 478.98px) {
    .news__title {
        font-size: 1.5em;
        max-width: 100%;
    }

    .news__first-half__desct {
        font-size: 0.98em;
    }

    .news__banner-title {
        font-size: 1.8em
    }

    .news__banner-desc {
        font-size: 0.95em;
        max-width: 100%;
    }
}

/* Страница новость ------------------
------------------------------------- */
.article {
    margin-top: 90px;
}

.article__title {
    font-size: 2.3em;
    color: #98b0d2;
    margin-bottom: 25px;
    text-transform: uppercase;
    max-width: 80%;
}

.article__first-half__desct {
    color: #4d5868;
    font-size: 1.45em;
    margin-bottom: 20px;
    font-weight: 100;
}

.article__slider-item img {
    width: 100%;
    height: auto;
}

.article__slider .slick-prev,
.article__slider .slick-next {
    position: absolute;
    background: transparent;
    border: 0;
    height: 80px;
    padding: 0 25px;
    z-index: 1;
    cursor: pointer;
    top: calc(50% - 40px);

}

.article__slider .slick-prev {
    left: calc((100% - var(--desktop-width)) / 2 - 15px);
    transform: rotate(180deg);
}

.article__slider .slick-next {
    right: calc((100% - var(--desktop-width)) / 2 - 15px);
    cursor: pointer;
}

.article__slider .slick-dots {
    position: absolute;
    display: flex !important;
    bottom: 50px;
    justify-content: center;
    left: 0;
    right: 0;
}

.article__slider .slick-dots li {
    list-style: none;
}

.article__slider .slick-dots li button {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    margin: 0 12.5px;
    cursor: pointer;
    font-size: 0;
    position: relative;
}

.article__slider .slick-dots li.slick-active button::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    z-index: 1;
    background: white;
    border-radius: 5px;
    top: 2px;
    left: 2px;
}

@media screen and (max-width: 478.98px) {
    .article__title {
        width: 100%;
        font-size: 1.5em;
        margin-bottom: 0;
    }

    .article__first-half__desct {
        font-size: 0.95em;
    }

    .article__slider-item img {
        height: 310px;
        width: auto;
    }

    .article__slider .slick-next {
        right: calc((100% - var(--desktop-width)) / 2);
    }

    .article__slider .slick-prev {
        left: calc((100% - var(--desktop-width)) / 2);
    }

    .article__slider .slick-dots {
        bottom: 15px;
    }
}