:root {
    --desktop-width: 1180px;
    --table-width: 768px;
    --mobile-width: 478px;
}

/* Стрелка в кнопках */
.btn-arrow {
    width: 56px;
    background: white;
    height: 2px;
    display: flex;
    margin-left: 12px;
    position: relative;
}

.btn-arrow::before {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: inherit;
    right: -1px;
    position: absolute;
    transform: rotate(45deg);
    top: -3px;
}

.btn-arrow::after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: inherit;
    right: -1px;
    position: absolute;
    transform: rotate(-45deg);
    top: 3px;
}

/* Портфолио */
.main__text {
    height: 90px;
    width: 100%;
    background-color: #4d5868;
    display: flex;
    align-items: center;
}

.main__text-item {
    font-size: 2.4em;
}

.main__text-link {
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 13px 45px 11px 50px;
    max-width: 400px;
    margin: 0 auto;
}

.main__text-link a {
    font-size: 1.45em;
    display: flex;
    align-items: center;
}

.briefcase__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 228px 0 172px 0;
}

.briefcase__item-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 0 right;
}

.briefcase__item-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 right;
}

.briefcase__item-title {
    font-size: 3.59em;
    font-weight: 600;
}

.briefcase__item-text {
    margin-top: 10px;
    font-size: 1.8em;
    max-width: 490px;
}

.briefcase__item-link {
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 16px 12px 12px 16px;
}

.briefcase__item-left .briefcase__item-link {
    margin-top: 60px;
}

.briefcase__item-link a {
    font-size: 1.45em;
    display: flex;
    align-items: center;
    font-weight: 700;
}

/* Про компанию */
.about {
    background-color: #8fb2d5;
}

.about__wrapper-item {
    display: flex;
    justify-content: space-between;
    flex: wrap;
}

.about__wrapper-text {
    flex: 1 1 50%;
    margin-right: 15px;
    padding: 85px 0 36px 0;
}

.about__wrapper-img {
    flex: 1 1 50%;
    margin-left: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}


.about__wrapper-title {
    font-size: 2.4em;
    font-weight: bold;
    text-transform: uppercase;
}

.about__wrapper-desc {
    margin: 75px 0 46px 80px;
    font-size: 1.8em;
    color: #000000;
    font-weight: 300;
    word-break: break-all;
}

.about__wrapper-link {
    display: flex;
}

.about__wrapper-link a {
    border: 1px solid white;
    border-radius: 10px;
    padding: 24px 16px 18px 22px;
    display: flex;
    align-items: center;
    font-size: 1.8em;
    font-weight: 600;
}

/* Новости блога */
.blog__news {
    padding-top: 80px;
    padding-bottom: 120px;
}

.blog__news-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
}

.news-text__title {
    font-size: 2.3em;
    font-weight: 700;
    color: #4d5868;
    text-transform: uppercase;
}

.news-text__link a {
    color: #8fb2d5;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.news-text__link span {
    background: #8fb2d5;
}

.slider__item {
    display: flex;
    flex-direction: column;
    align-items: center
}

.slider__item-image {
    width: 100%;
    height: 267px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider__item-title {
    height: 115px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #4d5868;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: -1px;
    /* word-break: break-all; */
}

.slider__item-text {
    height: 150px;
    border: 1px solid #4d5868;
    border-radius: 0 0px 10px 10px;
    box-sizing: border-box;
    padding: 10px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* word-break: break-all; */
}

.slider__item-text p {
    color: #000000;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0;
}

.slider__item-text-link {
    margin: 15px 0;

}

.slider__item-text-link a {
    height: 15px;
    display: flex;
    align-items: center;
}

.slider__item-text-link a span {
    background: #8fb2d5;
    margin: 0;

}

.blog__news-slider .slick-slide {
    margin: 0 15px;
}

.blog__news-slider .slick-list {
    margin: 0 -15px !important;
}

.blog__news-slider .slick-prev,
.blog__news-slider .slick-next {
    border: 0;
    position: absolute;
    top: calc(50% - 22px);
    height: 43px;
    width: 63px;
    background: #8fb2d5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

.blog__news-slider .slick-prev {
    border-radius: 0 10px 10px 0;
}

.blog__news-slider .slick-next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.blog__news-slider .slick-prev span {
    margin: 0;
    transform: rotate(180deg);
}

.blog__news-slider .slick-next span {
    marign: 0;
}

/* Footer */
.main__footer {
    background: #4d5868;
    padding-bottom: 125px;
}

.main__footer-logotype {
    margin: 53px auto 73px auto;
}

.main__footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer__menu-item {
    flex: 1 1 calc(100% / 7);
    padding-right: 20px;
}

.footer__menu-item__title {
    font-size: 1.4em;
    font-weight: bold;
    text-align: right;
}

.footer__menu-item__list li {
    list-style: none;
    text-align: right;
    font-size: 1.12em;
    margin-bottom: 5px;
}

.main__footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

.main__footer-social a {
    margin-right: 25px;

}

.main__footer-social a i {
    font-size: 50px;
}

.main__footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-item a {
    font-size: 1.14em;
}


/* Шаблон страницы бренда */
.brand__product-filter {
    margin-top: 90px;
    margin-bottom: 76px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -33px;
    margin-right: -33px;
}

.filter__item {
    flex: 1 1 calc(100% / 3 - 66px);
    margin: 23px 33px;
    height: 105px;
    overflow-y: hidden;
    border-bottom: 1px solid #4d5868;
    transition: 0.3s ease-out;
}

.filter__item-title a {
    font-size: 1.8em;
    color: #4d5868;
    font-weight: 200;
}

.filter__item-active {
    border-bottom: 1px solid #98b0d2;
}

.filter__item-active a {
    color: #98b0d2;
    font-weight: 400;
    transition: 0.3s ease-out;
}

.filter__item:hover .filter__item-title a {
    color: #98b0d2;
    transition: 0.3s ease-in;
}

.filter__item:hover {
    border-bottom: 1px solid #98b0d2;
    transition: 0.3s ease-in;
}

.product__group-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__group-btn__all {
    color: #4d5868;
    font-size: 1.4em;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
}

.product__group-btn__all:hover {
    border-bottom: 1px solid #4d5868;
    transition: 0.4s;
}

.product__group-title h2 {
    color: #4d5868;
    font-size: 2.3em;
    font-weight: 500;
    margin-bottom: 40px;
}

.brand__product-wrapper {
    padding-bottom: 117px;
}

.product__group {
    display: flex !important;
    flex-wrap: wrap;
    max-height: calc(362px * 3 + 90px);
    height: auto;
    overflow-y: hidden;
    margin: 0 -15px;
}

.group__item-product {
    width: calc(100% / 3 - 30px);
    margin: 15px 15px;
    height: 362px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #8fb2d5;
    box-sizing: border-box;
    position: relative;
    animation: product-unhover 0.8s;
}

.group__item-product-hide {
    display: none;
}

.group__item-product-show {
    display: flex;
    animation: product-show 0.8s;
}

.group__item-product img {
    width: 100%;
}

.group__item-product span {
    position: absolute;
    bottom: 0;
    width: 0;
    background: #4d5868;
    height: 1px;
    width: 0;
    display: block;
    animation: product-unhover-span 0.4s;
}

.group__item-product:hover {
    border: 1px solid transparent;
    border-radius: 0;
    animation: product-hover 0.4s;
}

.group__item-product:hover span {
    width: 100%;
    animation: product-hover-span 0.8s;
}

.brand__product-more {
    color: #4d5868;
    font-size: 1.3em;
    display: none;
    width: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid #4d5868;
    padding: 15px;
    margin: 25px auto;
    cursor: pointer;
}

.brand__product-more__show {
    display: flex;
}

/* О нашей компании */
.about__body-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__desc-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 48%;
    margin-bottom: 90px;
}

.about__desc-item h2 {
    color: #98b0d2;
    font-size: 2.9em;
    font-weight: 400;
    margin: 0 0 24px 0;
}

.about__desc-item p {
    font-size: 1.6em;
    color: #4d5868;
    margin: 0;
    font-weight: 200;
}

.about__body-line {
    margin: 0;
    height: 2px;
    width: 100%;
    background-color: #98b0d2;
}

.about__body-map {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}

.about__map-title {
    font-size: 2.9em;
    color: #98b0d2;
    font-weight: 200;
    max-width: 45%;
}

.about__map-desc {
    margin-top: -40px;
    margin-bottom: 150px;
}

.about__map-desc ul li {
    font-size: 1.4em;
    list-style: none;
    font-weight: 200;
    color: #4d5868;
    margin-bottom: 19px;
    position: relative;
}

.about__map-desc ul li:nth-child(1) {
    font-weight: 600;
}

.about__map-desc ul li::before {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 12px;
    left: -30px;
}

.about__map-desc ul li:nth-child(1)::before {
    background: #4d5868;
}

.about__map-desc ul li:nth-child(2)::before {
    background: #98b0d2;
}

.about__map-desc ul li:nth-child(3):before {
    background: #d0d0d0;
}

/* Страница Брендов компании -------------------
-----------------------------------------------*/
.brands__slider-head {
    height: 145px;
    background: white;
    position: relative;
}

.brands__slider-head-overlay {
    background: rgba(77, 88, 104, .9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.brands__slider-head p {
    color: white;
    font-size: 2.4em;
    font-weight: 500;
    text-transform: uppercase;
}

.brands__slider-footer {
    height: 95px;
    background: white;
    position: relative;
}

.brands__slider-footer-overlay {
    background: rgba(77, 88, 104, .9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.brands__slider-item {
    position: relative;
    margin-left: 13px;
}

.brands__slider-item__text {
    position: absolute;
    height: 135px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(77, 88, 104, .9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 64px;
}

.brands__slider-item__text span {
    font-size: 2.9em;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.brands__slider-item__text a {
    height: 34px;
    width: 160px;
    border-radius: 5px;
    border: 1px solid #8fb2d5;
    color: #8fb2d5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    transition: 0.4s;
}

.brands__slider-item__text a span {
    background: #8fb2d5;
    transition: 0.4s;
}

.brands__slider-item__text a:hover {
    color: white;
    transition: 0.4s;
    border: 1px solid white;
}

.brands__slider-item__text a:hover span {
    background: white;
    transition: 0.4s;
}

.brands__slider-body {
    background: rgba(77, 88, 104, .9);
    position: relative;
}

.brands__slider-body::before {
    content: '';
    position: absolute;
    width: calc((100% - 1080px) / 2 - 25px);
    background: rgba(77, 88, 104, .9);
    height: 559px;
    z-index: 1;
    display: block;
    bottom: 0;
    left: 0;
}

.brands__slider-body::after {
    content: '';
    position: absolute;
    width: calc((100% - 1080px) / 2 - 25px);
    background: rgba(77, 88, 104, .9);
    height: 559px;
    z-index: 1;
    display: block;
    right: 0;
    bottom: 0;
}

.brands__slider .slick-dots {
    position: absolute;
    display: flex !important;
    bottom: -75px;
    justify-content: center;
    left: 0;
    right: 0;
    z-index: 2;
}

.brands__slider .slick-dots li {
    list-style: none;
}

.brands__slider .slick-dots li button {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    margin: 0 12.5px;
    cursor: pointer;
    font-size: 0;
    position: relative;
}

.brands__slider .slick-dots li.slick-active button::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    z-index: 1;
    background: white;
    border-radius: 5px;
    top: 2px;
    left: 2px;
}

.all__brands {
    padding-bottom: 73px;
    padding-top: 45px;
}

.all__brands-title {
    margin-bottom: 45px;
    color: #4d5868;
    font-size: 2.4em;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
}

.all__brands-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.all__brands-item {
    width: 265px;
    height: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    border: 1px solid #8fb2d5;
    border-radius: 10px;
    position: relative;
}

.all__brands-item span {
    position: absolute;
    bottom: 0;
    width: 0;
    background: #4d5868;
    height: 1px;
    width: 0;
    display: block;
    animation: product-unhover-span 0.4s;
}

.all__brands-item:hover {
    border: 1px solid transparent;
    border-radius: 0;
    animation: product-hover 0.4s;
}

.all__brands-item:hover span {
    width: 100%;
    background: #4d5868;
    animation: product-hover-span 0.8s;
}

/* Страница тренинга   -----------------
--------------------------------------- */
.training__item {
    margin-bottom: 90px;
    color: #4d5868;
    font-weight: 200;
}

.training__item ul {
    padding: 0 0 0 20px;
}

.training__item-title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.3em;
    color: #98b0d2;
}

.training__item-desc {
    font-size: 1.45em;
}


/* Страница сервисныого центра --------------
------------------------------------------ */
.services__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 120px;
    margin-top: 40px;
}

.services__item {
    width: calc(100% / 2 - 30px);
}

.services__item-title {
    font-size: 2.3em;
    color: #98b0d2;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.services__item-desc {
    font-size: 1.45em;
    color: #4d5868;
    font-weight: 200;
}

.services__line {
    width: 100%;
    background: #98b0d2;
    height: 2px;
    margin-top: 70px;
    margin-bottom: 60px;
    border: 0;
}

/* Подписаться на рассылку --------------
-----------------------------------------*/
.newsletter {
    background-color: #8fb1d5;
    padding: 55px 0;
}

.newsletter__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.newsletter__title {
    font-size: 1.8em;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 46px;
}

.newsletter__desc {
    margin-top: 42px;
    color: #4d5868;
    font-weight: 200;
    font-size: 1.2em;
    text-align: center;
}

.newsletter form input {
    border: 0;
    outline: none;
}

.newsletter form input:nth-child(1) {
    height: 40px;
    min-width: 460px;
    text-indent: 50px;
    border-radius: 20px 0 0 20px;
    font-size: 1.2em;
}

.newsletter form input:nth-child(2) {
    height: 42px;
    min-width: 292px;
    border-radius: 0 20px 20px 0;
    background: #4d5868;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-left: -5px;
}

/* Страница контактов --------------------
----------------------------------------- */
.contact__body {
    margin-bottom: 65px;
}

.contact__body-title {
    font-size: 3em;
    color: #98b0d2;
    margin-top: 20px;
    margin-bottom: 70px;
}

.contact__body-address {
    display: flex;
    margin-bottom: 65px;
}

.contact__body-address__title {
    flex: 1 0 24%;
    font-size: 1.45em;
    color: #98b0d2;
    font-weight: 500;
}

.contact__body-address__text {
    font-size: 1.45em;
    font-weight: 100;
    color: #4d5868;
    flex: 1 0 52%;
}

.contact__body-address__info p {
    font-size: 1.45em;
    color: #98b0d2;
    font-weight: 600;
    margin: 0;
}

.contact__body-address__info a {
    font-size: 1.45em;
    color: #4d5868;
    display: flex;
    margin-top: 11px;
}

.contact__body-address__info a:nth-child(3) {
    color: #98b0d2;
    text-decoration: underline;
}

.contact-line {
    width: 100%;
    height: 2px;
    background: #98b0d2;
    border: 0;
    margin: 0;
}

/* Страница продукта */
.product {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
}

.product figure {
    margin: 0;
    display: flex;
}

.woocommerse-images {
    width: 170px;
}

.woocommerce-product {
    width: calc(100% - 170px - 465px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.woocommerse-images__active {
    border: 2px solid #98b0d2;

}

.woocommerce-product figure img {
    width: 100%;
    height: auto;
    margin: 0;
}

.summary {
    width: 465px;
    color: #4d5868;
}

.summary p {
    margin: 0;
}

.summary h1 {

    font-size: 2.7em;
    margin-bottom: 46px;
}

.summary .product__price-plus {
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 15px;
}

.product__price {
    display: flex;
}

.product__price .woocommerce-Price-amount {
    font-size: 3.5em;
    color: black;
    font-weight: 600;
}

.product__price .woocommerce-Price-currencySymbol {
    font-size: 2.2em;
    color: black;
}

.summary .product__attribute {
    font-size: 1.75em;
    margin-top: 15px;
}

.summary .quantity {
    height: 0;
    opacity: 0;
    position: relative;
    z-index: -1;
}

.summary .cart {
    margin-top: 37px;
    display: flex;
    flex-direction: column;

}

.summary .cart button {
    width: 361px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.summary .cart button:nth-child(2) {
    margin-bottom: 10px;
    background-color: #b60c0c;
}

.summary .cart button:nth-child(3) {
    margin-bottom: 15px;
    background-color: #98b0d2;
}

.product__delivery {
    font-size: 1.2em;
    color: #4d5868;
    font-weight: 100;
    padding-left: 118px;
}

.product__share-art {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    height: 30px;
}

.product__share-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 125px;
}

.product__share-btn i {
    font-size: 2.3em;
    color: #4d5868;
    margin-right: 13px;
}

.product__share-btn span {
    font-size: 1.2em;
    color: #4d5868;
    font-weight: 100;
}

.product__share-elem {
    display: none;
    transform: scale(0);
}

.product__share-elem a {
    display: flex;
    margin-left: 15px;
}

.product__share-elem a i {
    font-size: 1.8em;
    color: #4d5868;
}

.product__share-btn__hide {
    animation: product-btn-hide 0.4s;
}

.product__share-elem__show {
    animation: product-btn-elem-show 0.4s;
    transform: scale(1);
}

.product__art {
    font-size: 1.2em;
    color: black;
}

.product__description {
    margin-top: 23px;
    margin-bottom: 100px;
    border-top: 2px solid #98b0d2;
}

.product__description h4 {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #4d5868;
    font-size: 1.75em;
    font-weight: 500;
}

.product__description p {
    color: #4d5868;
    font-size: 1.2em;
    font-weight: 100;
}


/* Страница категорий */
.category__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.category__content #primary {
    width: 257px;
}

.category__content #secondary {
    width: calc(100% - 257px - 30px);
}

.category__filter-item {
    height: 34px;
    overflow: hidden;
    margin-bottom: 35px;
}

.filter-item-title {
    color: #4d5868;
    font-size: 1.8em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #4d5868;
    padding-bottom: 5px;
    cursor: pointer;
}

.filter-item-attribute {
    display: flex;
    flex-direction: column;
    color: #4d5868;
    margin-top: 27px;

}

.filter-item-attribute label {
    font-size: 1.5em;
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
}

.filter-item-attribute input {
    opacity: 0;
}

.filter-item-attribute label {
    margin-left: 16px;
    display: inline-flex;
}

.filter-item-attribute label::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 11.5px;
    border: 1px solid #4d5868;
    z-index: 1;
    left: -32px;
    top: 0;
    position: absolute;
}

.filter-item-attribute label::after {
    content: '';
    display: none;
    width: 13px;
    height: 13px;
    border-radius: 6.5px;
    background: #98b0d2;
    z-index: 1;
    left: -26px;
    top: 6px;
    position: absolute;
}

.filter-item-attribute input[type="radio"]:focus+label::after {
    display: block;
}

.filter-item-opened {
    height: auto;
}

.filter-item-opened span {
    font-weight: 400;
}

.filter-item-opened i {
    transform: rotate(180deg);
}

#secondary h1 {
    font-size: 2.3em;
    color: #4d5868;
    margin: 0;
}

.secondary__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid #98b0d2;
    padding-bottom: 6px;
    margin-bottom: 20px;
}

.secondary__head-filter {
    display: flex;
}

.secondary__head-filter__price {
    margin-right: 40px;
    display: flex;
}

.secondary__head-filter__star {
    display: flex;
}

.secondary__head-filter .title {
    font-size: 1.2em;
    color: #4d5868;
    font-weight: 500;

}

.secondary__head-filter .ask {
    display: flex;
    margin-left: 7px;
    border: 10px solid transparent;
    border-top: 10px solid #98b0d2;
    position: relative;
    top: 5px;
    cursor: pointer;
}

.secondary__head-filter .desk {
    border: 10px solid transparent;
    border-bottom: 10px solid #98b0d2;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

.secondary__body .products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.secondary__body .product {
    width: calc(100% / 3 - 20px);
    margin-bottom: 50px;
}

.product__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__image img {
    width: 100%;
    height: auto;
}

.product__title {
    color: #4d5868;
    font-size: 1.45em;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
}

.product__article {
    display: flex;
    justify-content: flex-end;
    color: black;
    font-size: 1.2em;
    font-weight: 100;
    padding-bottom: 3px;
    border-bottom: 2px solid #98b0d2;
}

.product__desc {
    margin-top: 8px;
    color: #4d5868;
    font-size: 1.2em;
    font-weight: 100;
}

.product__cart {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product__cart-price p:nth-child(1) {
    color: #4d5868;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
}

.product__cart-price p:nth-child(2) {
    display: flex;
    align-items: flex-start;
    margin: 0;
}

.product__cart-price p:nth-child(2) span:nth-child(1) {
    color: black;
    font-size: 2.3em;
    font-weight: 600;
}

.product__cart-price p:nth-child(2) span:nth-child(2) {
    color: black;
    font-size: 1.45em;
    font-weight: 500;
    padding-top: 3px;
}

.product__price-button a {
    background-color: #b60c0c;
    color: white;
    height: 40px;
    width: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 1.2em;
}

.category__description-wrapper {
    border-top: 2px solid #98b0d2;
    margin: 80px 0 160px 0;
    padding: 25px 0 0 0;
    color: #4d5868;
    font-size: 1.45em;
    font-weight: 100;
}

/* Страница новостей -----------------
-------------------------------------*/
.news__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 42px;
    margin-bottom: 33px;
    margin-left: -15px;
    margin-right: -15px;
}

.news__item-full {
    width: calc(100% - 30px);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 559px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
}

.news__item-half {
    width: calc(100% / 2 - 30px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 15px;
    height: 559px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
}

.news__item-overlay {
    background: rgba(77, 88, 104, .6);
    padding: 35px 70px;
}

.news__item-title {
    font-size: 3em;
    color: white;
    font-weight: 500;
    margin-bottom: 16px;
}

.news__item-desc {
    font-size: 1.45em;
    color: white;
    margin-bottom: 16px;
}

.news__item-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 46px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.45em;
}

.news__second-half__desct {
    font-size: 1.45em;
    color: #4d5868;
    font-weight: 100;
    padding-top: 15px;
    border-top: 2px solid #98b0d2;
    margin-bottom: 100px;
}